@import url('https://fonts.googleapis.com/css?family=Orbitron');
@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}
.navbar{
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-nav{
    margin-left: auto;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
.nav-link{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar-toggler{
    border: none;
    outline: none !important;
}
#main_id{
    margin-right: 0px;
}
#kube_id{
    margin-left: 0px;
}
#main_web{
    margin-right: 20px;
    color: black;
    font-weight: bold;
    border-width: 2px;
}
#main_login{
    margin-right: 20px;
    color: black;
    font-weight: bold;
    border-width: 2px;
}
.logo{
    width: 100px;
    height: 100px;
    margin-right: 1px;
}
.text{
    font-size: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
h1 {
    color: #333;
    margin-top: 50px;
    padding-top: 0px;
}
p {
    color: #666;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
hr.border-primary {
    border-top-width: 3px;
    border-color: #e9ecef!important;
  }
.container-wrapper{
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
} 
#clock {
    display:flex;
    justify-content: flex-end;
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 40px;
    padding: 0px;
    margin-right: 40px;
    flex: 1;
}
#center{
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 40px;
    padding: 0px;
    margin-right: 0px;
    flex: 1;
}
#date{
    display:flex;
    justify-content: flex-start;
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 40px;
    padding: 0px;
    margin-right: 0px;
    flex: 1;
    margin-left: 40px;
}
button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
.text-align{
    text-align: center;
}
button:hover {
    background-color: #3e8e41;
    transition: background-color 0.3s ease;
}
.btn-white{
    background-color: white;
    color: black;
}
.btn-hover-danger:hover{
    background-color: red;
    color: white;
}
.btn-hover-danger{
    transition: all 0.3s ease-in-out;
}
.footer {
    background-color: #fff;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
}
    
.footer p {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    text-align: center;
}